body {
  background: #0f0c29;  
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);   
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color:gold;
  font-size: 20px;
  margin: 0;
}

h1, h2 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 40px;
}

h1 {
  margin: 60px 60px 0 60px;
  font-size: 30px; 
  padding-bottom: 25px;
  border-bottom: 2px solid gold;  
}

h2 {
  font-size: 30px;
}

button {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  background: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: gold;
  border: .5px solid gold;
}

.start-quiz {
  font-size: 33px;
  width: 500px;
  height: 300px;
  margin: 100px auto;
  text-align: center;
  padding-bottom: 200px;
  color: gold;
}

.questions, .end-quiz {
  color: gold;
  display: none;
  text-align: center;
  padding-bottom: 200px;
  margin: 100px auto 0 auto;
  width: 500px;
  height: 300px;
}

.question{
  font-size: 21px;
}

.end-quiz {
  border: 2px solid gold;
  padding-top: 80px;
  height: 100px;
  font-size: 30px;
  color: gold;
}

.question-number, .score {
  font-size: 30px;
  color: gold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid black;
  width: 200px;
  margin: 10px auto;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  background-color:black;
  text-decoration-color: black;
}

.footer{
  text-align:center;
  font-weight: bold;
  font-size: 15px;
}
  
.selected {
  background: gold;
  color:black;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

